.card {
    width: calc(100% - 22px);
    height: 56px;
    border-radius: 8px;
    padding: 12px;
    margin: 6px 0;
    color: #fff;
    font-weight: bold;
}
.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elevation {
    box-shadow:
        0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07), 
        0 32px 64px rgba(0,0,0,0.07);
}

#button {
    cursor:pointer;
    border: 1px solid grey;
    border-radius: 5px;
    background: grey;
    color: white;
    font-weight: bold;
}