<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body >
<header style="background: #ABD6DF; width: 200px; height:50px; display: flex; justify-content: center;
align-items: center;">
    <h3>Smart Saver</h3>
</header>
    <div id="root" style="width: 200px; height: auto;">
        <div class="card elevation" style="background-color: #6495ED;">
            <div class="card-info">
                <i class="fa fa-leaf fa-lg"></i>
                <div id="color" style="border:1px solid #fff; margin-left: 6px; width: 25px; height: 25px;"></div>    
            </div>
            <br />
            <span>Energy</span>
        </div>
        <div class="card elevation" style="background-color: #ff6600;">
            <div class="card-info">
                <i class="fa fa-window-close-o fa-lg"></i>
                <button type="button" id="button" class="elevation">Deactivated</button>
            </div>
            <br />
            <span>Close tabs</span> 
        </div>
        <div class="card elevation" style="background-color: #3CB371; flex-direction: column; justify-content: flex-end; align-items: left;">
            <div style="margin-bottom: 4px">Manage emails</div>
            <input id="input-email" type="text" name="input-email" style="margin-bottom: 4px"/>
            <button type="button" id="open-email" class="elevation" style="margin: 2px 0; cursor:pointer; border: 1px solid green; border-radius: 5px; background: green; color: white; font-weight: bold;">Go</button>
        </div>
        <div id="options" class="card elevation" style="height: 30px; background-color: grey;">
            <div class="card-info" style="cursor:pointer">
            <i class="fa fa-cog fa-lg"></i>
            <span>Options</span> 
        </div>

        </div>
    </div> 
    <script src="js/index.js"></script>
    
</body>